# Deny access to all files except index.php
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

# Deny access to all files
<FilesMatch "^(?!index\.php$).*$">
    Order Allow,Deny
    Deny from all
</FilesMatch>